* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: ;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: darkblue;
    padding: 120px;
}

.Todoapp
{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.Todoapp h1
{
    font-size: 30px;
    font-weight: 600;
    color: #333;
    display: block;
    text-align: center;
    background-color: red;
}
.Todoapp h2
{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    display: block;
    text-align: center;
    background-color: red;
    padding-top: 10px;
    margin-top: 10px;
}