* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: #041024;
    padding: 120px;
}

.Todoapp
{
    width: 100%;
    max-width: 700px;
    background: #333a49;
    margin: 100px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 #7202db, 0 2px 20px 0 #7202db;
}
.Todoapp h2
{
    font-size: 30px;
    font-weight: 600;
    color: #bedef7;
    display: block;
    text-align: center;

}

.rowinputcontainer{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;

}
.row
{
    display: flex;
    width: 260px;
    height: 55px;
    align-items: center;
    margin-top: 20px;
    background: #0f1729;
    border-radius: 10px;
    border: 2px solid #0064b5;
}
.rowinputcontainer .row
{
    margin-top: 5px
}
.rowinputcontainer .row2
{
    margin-top: 5px;  
}
.row2
{
    display: flex;
    width: 260px;
    height: 55px;
    align-items: center;
    margin-top: 20px;
    background: #0f1729;
    border-radius: 10px;
    border: 2px solid #0064b5;
    margin-left: 20px;
    margin-right: 30px;
}

.row input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    color: #bedef7;
    
}
.row2 input
{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    color: #bedef7;
}
.rowinputcontainer button
{
  border: none;
  outline: none;
  background: #0064b5;
  padding: 6px 25px;
  border-radius: 5px;
  color: #bedef7;
  cursor: pointer;
  font-size: 25px;

}