* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: #041024;
    padding: 120px;
}

.Todoapp
{
    width: 100%;
    max-width: 650px;
    background: #333a49;
    margin: 100px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 #7202db, 0 2px 20px 0 #7202db;
}
.Todoapp h1
{
    font-size: 30px;
    font-weight: 600;
    color: #bedef7;
    display: block;
    text-align: center;

}
.Todoapp h2
{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    display: block;
    text-align: center;
    background-color: red;
    padding-top: 10px;
    margin-top: 10px;
}